body{
    color: #000;
    margin: 0;
    margin-left: 300px;
    margin-right: 300px;
    padding:0;
    border: 0;
    font-family: Verdana, Arial, sans-serif; font-size: 1em;
  }
h1 {
    color: rgb(15, 136, 124);
}

h2 {
    color: rgb(15, 136, 124);
}

p{
    line-height: 150%;
}

a{
    color: rgb(211, 139, 6);
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

img{
    width: block;
    height: block;
}